.main-layout__main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  width: 100%;

  .toolbar-container {
  }

  .sidebar-content-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    .sidebar-container {
      flex: 1 0 180px;
      background-color: azure;
    }
    .content-container {
      flex: 9 1;
      background-color: beige;
    }
  }
}
